<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card highlight-card card-large">
    <span>Carlos Alberto Pereira da Silva</span>
  </div>
  <div class="h-[32rem] my-10 w-full">
    <div class="grid grid-cols-3 gap-4 h-full w-full place-content-center">
      <div class="grid grid-cols-2">
        <div class="h-[22rem] bg-[blue] rounded-l-lg">
          <div class="card card-position-title">
            <span>Mouse X Position(px)</span>
          </div>
          <div class="card card-position-height">
            {{ (mouseCoordinates$ | async)?.x }}
          </div>
        </div>
        <div class="h-[22rem] bg-[blue] rounded-r-lg">
          <div class="card card-position-title">
            <span>Mouse Y Position(py)</span>
          </div>
          <div class="card card-position-height">
            {{ (mouseCoordinates$ | async)?.y }}
          </div>
        </div>
      </div>
      <div>
        <span>
          <p>
            That is a web application using Angular for the front-end and .NET
            Core for the back-end. The application still fulfills all the
            specified requirements:
          </p>

          <h2>Main Page Layout</h2>
          <ul>
            <li>
              The main page of the application features a website layout with a:
            </li>
            <ul>
              <li>Header</li>
              <li>Navigation bar</li>
              <li>Content sections on the right and left</li>
              <li>Main content area</li>
              <li>Footer</li>
            </ul>
          </ul>

          <h2>Header Section</h2>
          <p>
            In the header section, there is a digital clock displaying the
            current time, with real-time updates for seconds, minutes, and
            hours. This clock is implemented using Angular.
          </p>

          <h2>Navigation Bar</h2>
          <p>
            This section prominently displays the full name of the developer. It
            also includes a project description. Additionally, there is a
            drop-down button that, when clicked, lists the elements requested
            from Api. This listing is achieved through an asynchronous call
            using Angular, communicating with the .NET Core back-end for data
            retrieval.
          </p>

          <h2>Content on the Right</h2>
          <p>
            The content on the right side of the page features an image slider
            with previous and forward buttons, allowing users to navigate
            through a collection of images.
          </p>

          <h2>Content on the Left</h2>
          <p>
            On the left side of the page, there are indicators that display the
            X and Y mouse positions on the screen, with Angular providing
            real-time feedback to the user.
          </p>

          <h2>Footer</h2>
          <p>
            Finally, the footer of the page includes a link to the
            <a href="https://allari.com/">Allari webpage</a>.
          </p>
        </span>
      </div>
      <app-carousel class="col-span-1" [slides]="list"></app-carousel>
    </div>
  </div>
  <!-- Footer -->
  <footer class="card-container my-5 bg-[#ddd] w-full rounded-lg">
    <a
      class="card card-link"
      href="https://allari.com/"
      target="_blank"
      rel="noopener"
    >
      Allari page
    </a>
  </footer>
</div>
