<div class="slider">
  <button
    class="bg-primary text-on-primary action-previous"
    mat-mini-fab
    (click)="goToPrevious()"
  >
    <mat-icon class="icon-size-4">keyboard_arrow_left</mat-icon>
  </button>

  <button
    class="bg-primary text-on-primary action-next"
    mat-mini-fab
    (click)="goToNext()"
  >
    <mat-icon class="icon-size-4">keyboard_arrow_right</mat-icon>
  </button>

  <div
    *ngIf="slides.length"
    class="slide"
    [ngStyle]="{
      'background-image': getCurrentSlideUrl(),
      'background-size': 'cover'
    }"
  ></div>
</div>
